
<form> 
        <div class="container ">
        <p>Welcome to CS Department Survey</p>
        <p style="color:#006633">Please Enter First Name</p>
        
        <input type ="text" name ="firstname" class="form-control">

        
        <p style="color:#006633">Please Enter last Name</p>
        
         <input type ="text" name ="lastname" class="form-control" >
        
        <p style="color:#006633">Please Enter address Name</p>
       
        <input type ="text" name ="address" class="form-control" >
        
        <p style="color:#006633">Please Enter city Name</p>
        
        <input type ="text" name ="city" class="form-control">

        <p style="color:#006633">Please Enter state Name</p>
       
        <input type ="text" name ="state" class="form-control">

        <p style="color:#006633">Please Enter zip Name</p>
        
        <input type ="text" name ="zip" class="form-control">

        <p style="color:#006633">Please Enter email address </p>
        
        <input type ="text" name ="email" class="form-control" >

        <p style="color:#006633">Please Enter telephone Name</p>
        
        <input type ="text" name ="telephone" class="form-control">

        <p style="color:#006633">Please Enter date of survey </p>
        
        <input type ="text" name ="date_of_survey" class="form-control">

        <p style="color:#006633">Please Enter comments </p>
        
        <input type ="text" name ="comments" class="form-control">

        <button class="button" type="submit">submit</button>
     
</div>          
</form>


